.logo-animation:hover {
  animation: changelogo 4s 1s ease;
}

@keyframes changelogo {
  0% {
    transform: rotate(0deg) scale(1);
  }
  30%,
  40% {
    transform: rotate(180deg) scale(-1.5, 1.3);
  }
  80% {
    transform: rotate(0deg) scale(1);
  }
}

.section-headline {
  transition: transform 3s ease-in;
}

.section-headline button:hover {
  transform: rotate(10deg);
  transform-origin: left bottom;
}

.animate-button:hover {
  background-color: #fff;
  color: #55c2d8;
  transition: all 1s linear;
}
